# Core
numpy>=1.23
pandas>=2.0
scikit-learn>=1.3

# Deep Learning
torch>=2.0
torchvision>=0.15

# MRI / Medical Imaging
nibabel>=5.1
opencv-python>=4.8
scikit-image>=0.22

# Explainable AI
shap>=0.44

# Visualization
matplotlib>=3.8
seaborn>=0.13

# Notebooks
jupyterlab>=4.0
ipykernel>=6.25

# Utilities
tqdm>=4.66
pyyaml>=6.0
